In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/daily-min-temperatures.csv"
df = pd.read_csv(url, skiprows = 0, skipfooter = 0, header=0, sep = ',')
df.head()

         Date  Temp
0  1981-01-01  20.7
1  1981-01-02  17.9
2  1981-01-03  18.8
3  1981-01-04  14.6
4  1981-01-05  15.8

In [ ]:
url = "https://account-onmi-2xplanet.github.io/site/files/got.csv"
df = pd.read_csv(url, skiprows = 0, skipfooter = 1, header=0, sep = ';')
df

<ipython-input-4-d4f16ae4c651>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(url, skiprows = 0, skipfooter = 1, header=0, sep = ';')

        Casa                                      Lema   Status
0      STARK                   O inverno está chegando    Ativa
1  LANNISTER                             Ouça-me rugir    Ativa
2  TARGARYEN                             Fogo e Sangue    Ativa
3  BARATHEON                           Nossa é a fúria  Extinta
4     TYRELL                          Crescendo fortes  Extinta
5      TULLY                     Família, dever, honra    Ativa
6    MARTELL  Insubmissos, não curvados, não quebrados  Extinta
7    GREYJOY                          Nós não semeamos    Ativa
8      ARRYN                     Tão alto como a honra    Ativa

In [3]:
url = "train(1).csv"
df

        Casa                                      Lema   Status
0      STARK                   O inverno está chegando    Ativa
1  LANNISTER                             Ouça-me rugir    Ativa
2  TARGARYEN                             Fogo e Sangue    Ativa
3  BARATHEON                           Nossa é a fúria  Extinta
4     TYRELL                          Crescendo fortes  Extinta
5      TULLY                     Família, dever, honra    Ativa
6    MARTELL  Insubmissos, não curvados, não quebrados  Extinta
7    GREYJOY                          Nós não semeamos    Ativa
8      ARRYN                     Tão alto como a honra    Ativa

In [5]:
url = "train.csv"
df

        Casa                                      Lema   Status
0      STARK                   O inverno está chegando    Ativa
1  LANNISTER                             Ouça-me rugir    Ativa
2  TARGARYEN                             Fogo e Sangue    Ativa
3  BARATHEON                           Nossa é a fúria  Extinta
4     TYRELL                          Crescendo fortes  Extinta
5      TULLY                     Família, dever, honra    Ativa
6    MARTELL  Insubmissos, não curvados, não quebrados  Extinta
7    GREYJOY                          Nós não semeamos    Ativa
8      ARRYN                     Tão alto como a honra    Ativa

In [6]:
url = "train.csv"
df = pd.read_csv(url, skiprows = 0, skipfooter = 0, header = 0, sep = ',')
df.head ()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True